<div class="slider-item">
  <a href="{{loop.index0}}">
    <h3 class="number">{{restaurant.position}}</h3>
    <h2 class="name">{{restaurant.name}}</h2>
    <img src="assets/cover/{{restaurant.coverImg}}" />
  </a>
</div>
